<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/LOGO_PIE.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            <p>Bienvenido a la red de clinicas de Mascota Y Salud!</p>
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <p>El mejor sitio para tu clinica.</p>
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/LOGO_WEB 01.png">
            </div>

            <div class="title">INICIAR SESION</div>

            <form name="loginForm" #f="ngForm" (ngSubmit)="login(f)" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="name" [(ngModel)]="_name">
                    <mat-icon matSuffix class="secondary-text">name</mat-icon>
                    <mat-error *ngIf="loginForm.get('name').hasError('required')">
                        Id is required
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('name').hasError('required') &&
                                loginForm.get('name').hasError('name')">
                        Please enter a valid Id
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me" [(ngModel)]="_rememberMe" [ngModelOptions]="{standalone: true}">
                        Recuerdame
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password-2'">
                        ¿Olvidaste tu password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" [disabled]="loginForm.invalid">
                    INICIAR SESION
                </button>

            </form>

            <!-- <div class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="google">
                    Log in with Google
                </button>

                <button mat-raised-button class="facebook">
                    Log in with Facebook
                </button>

            </div> -->

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">¿No eres miembro todavia?</span>
                <a class="link" [routerLink]="'http://www.mascotaysalud.com/'">Informate</a>
            </div>
        </div>
    </div>
</div>