<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <!-- <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/avatars/Velazquez.jpg" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Charlie Adams
            </div>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="accent" aria-label="Follow">Follow</button>
            <button mat-raised-button color="primary" aria-label="Send Message">Send Message</button>
        </div>

    </div> -->

    <div class="options">
        <div class="search">
            <div class="search-wrapper" fxflex="" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center; flex: 1 1 0%;">
                <div class="search" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">search</mat-icon>
                    <input fxflex="" placeholder="Buscar DNI asegurado" style="flex: 1 1 0%; box-sizing: border-box;" (keyup.enter)="search($event)">
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <!-- <div class="content">
        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Timeline">
                <profile-timeline></profile-timeline>
            </mat-tab>

            <mat-tab label="About">
                <profile-about></profile-about>
            </mat-tab>

            <mat-tab label="Photos & Videos">
                <profile-photos-videos></profile-photos-videos>
            </mat-tab>

        </mat-tab-group>

    </div> -->

    <div class="content" style="margin-left:1%; margin-top:2% ">
        <div *ngFor="let item of _clinica | keyvalue">
            {{ item.key }} - {{ item.value }}
        </div>
    </div>


    <div class="content">
        <div *ngIf="found">
            <ul class="info">
                <li>
                    <div class="key">
                        <label>DNI:</label>
                        <p>{{this._cliente.Dni}}</p>
                    </div>
                </li>
                <li>
                    <div class="key">
                        <label>NOMBRE:</label>
                        <p>{{this._cliente.Name}}</p>
                    </div>
                </li>
                <li>
                    <div class="key">
                        <label>APELLIDOS:</label>
                        <p>{{this._cliente.LastName}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- / CONTENT -->

</div>