@import 'src/@fuse/scss/fuse';
:host {
    @include media-breakpoint('lt-md') {
        #fuse-shortcuts {
            &.show-mobile-panel {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                padding: 0 8px;
                .shortcuts {
                    display: flex !important;
                    flex: 1;
                    height: 100%;
                    >div {
                        flex: 1 1 auto !important;
                    }
                }
            }
        }
    }
}